*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
img{}
.container{
    width: 1100px;
    margin: auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col{}
h2{}
h3{}
p{}
.align-center{
    text-align: center;
}

header{
    background: #f6f9f9;
    padding: 25px 0;
}
.logo{
    width: 20%;
    flex: 0 0 auto;
}
.logo a{}
.logo a img{}
nav{
    width: 80%;
    flex: 0 0 auto;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    font-size: 16px;
    color: #333366;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    display: block;
    padding: 15px 24px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #15a4fa;
}

.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
img{
    max-width: 100%;
}
.arrow{
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff;
    font-size: 24px;
    transform: translateX(-50%);
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    max-width: 600px;
}
.banner-content h1{
    font-size: 120px;
    font-weight: 700;
    color: #fff;
}
.banner-content span{
    height: 2px;
    width: 100%;
    background: #15a4fa;
    display: block;
    margin: 35px 0;
}
.banner-content p{
    font-size: 20px;
    color: #fff;

}
.btn{
    font-size: 18px;
    border: 1px solid #15a4fa;
    display: inline-block;
    padding: 15px 38px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 65px;
    transition-duration: 0.3s;
}

.btn:hover{
    background-color: #15a4fa;
}
.about_us{
    background: #f6f9f9;
    padding: 80px 0;
    text-align: center;
}

.about_us h2{
    font-size: 40px;
    color: #333366;
    font-weight: 600;
}
.about_us p{
    font-size: 20px;
    color: #999999;
    margin-top: 25px;
    line-height: 1.7;
}

.feature{
    padding: 50px 30px;
    text-align: center;

}
.feature h3{
    font-size: 22px;
    color: #336;
    margin: 22px 0;
}
.feature p{
    width: 85%;
    margin: auto;
}
.feat{}
.feat span{
    width: 100px;
    height: 100px;
    background-image: url(..//img/icon_bg.png);
    display: block;
    margin: auto;
    line-height: 100px;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 0px #33333369;
}
.feat span i{}
.col{
    width: 33.33%;
    flex: 0 0 auto;
    padding: 15px;
}
p{
    font-size: 15px;
    color: #999;
    line-height: 1.5;
}

.showcase{
    text-align: center;
    padding: 80px 0;
    background: #f6f9f9;
}
.showcase h2{
    font-size: 40px;
    color: #333366;
    font-weight: 500;
    margin-bottom: 20px;
}
.showcase p{
    margin-bottom: 30px;
}
.scase{
    position: relative;
}
.scase img{
    width: 100%;
}
.scase .overlay{
    background: rgba(21, 164, 250, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition-duration: 0.2s;
}
.scase:hover .overlay{
    width: 100%;
    height: 100%;
}
.scase ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    transition-duration: 0.3s;
    opacity: 0;
}
.scase:hover ul{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    opacity: 1;
}
.scase ul li{
    list-style: none;
    padding: 5px;
}
.scase ul li a{
    font-size: 15px;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    border-radius: 5px;
}
.scase ul li a:hover{}

.contact{
    background-image: url(../img/contact.jpg);
    padding: 75px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(219 28% 25% / 0.9);

}
.contact-form{
    width: 50%;
    flex: 0 0 auto;
    text-align: center;
}
.contact .flex{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.contact .container{
    position: relative;
}
.contact-form h2{
    color: #fff;
}
.contact-form form{
}
.contact-form form input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #999999;
    background: transparent;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
}
.contact-form form textarea{
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #999;
    background: transparent;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
}
.contact-form form{
    margin: 45px;
}
.contact-form form ul{
    display: flex;
    justify-content: space-between;
}
.contact-form form ul li{
    list-style: none;
}
.contact-form form ul li input{
    width: auto;
    margin-bottom: 0;
}
.contact-form form ul li label{
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
}

.contact-form form ul li input[type="submit"]{
    font-size: 18px;
    border: 1px solid #15a4fa;
    display: inline-block;
    padding: 10px 38px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.1s;
}
.contact-form form ul li input[type="submit"]:hover{
    background-color: #15a4fa;
}

footer{
    padding: 20px 0;
}
.copyright{
    width: 50%;
    flex: 0 0 auto;
}
.copyright p{}
.social{
    width: 50%;
    flex: 0 0 auto;
}
.social ul{
    display: flex;
    justify-content: flex-end;
}
.social ul li{
    list-style: none;
    padding: 5px;
}
.social ul li a{
    font-size: 15px;
    background: #15a4fa;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    transition-duration: 0.1s;
}
.social ul li a:hover{
    background: transparent;
    color: #15a4fa;
}